<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      DevFest Nantes 2018
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section>
    <ion-card class="welcome-card">
      <img src="https://devfest2018-site.firebaseapp.com/images/logo-white.svg" alt="" />
      <ion-card-header>
        <ion-card-title>DevFest Nantes 2018</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{listeSchedule}}</p>
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-button expand="block">Voir les sessions</ion-button>
    <ion-button expand="block">Voir les présentateurs</ion-button>
  </section>

</ion-content>